@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500");
html { height: 100%;}
body { height: 100%; margin: 0px; background-color: #ffa801;}
body, input, textarea { font-family: "Roboto"; font-weight: 300;}
#container {font-size: 32px; margin: 128px auto; width: 768px;}
h1 {text-align: center; color: #333; text-shadow: 0 1px 1px rgba(0, 0, 0, .4); margin-bottom: 32px;}
#calculator, #number {border-radius: 6px}
#calculator {margin: 0 auto; background-color: #454545; border: 1px solid #3D3D3D; width: 279px; box-shadow: 0 7px 10px rgba(0, 0, 0, .8);}
#header {padding: 10px; border-top: 1px solid #777; border-radius: 6px 6px 0 0}
input#number {text-align: right; background-color: #121212; border: none; color: #C8C8C8; font-size: 20px; padding: 5px; border-bottom: 1px solid #777; box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, .6)}
#body {padding: 0 10px}
.buttons {cursor: default; text-align: center; padding: 7px 12px; font-size: 20px; text-shadow: 0 -1px 1px #000; color: #FFF; font-weight: bold; display: inline-block; border-top: 1px solid #777; width: 34px; background: linear-gradient(#5F5F5F 0%, #404040 100%); box-shadow: 0 2px 6px rgba(0, 0, 0, .8); margin-bottom: 10px;}
.buttons:hover {background: linear-gradient(#79D144 0%, #50A61F 100%); border-top: 1px solid #9ADD73; text-shadow: 0 -1px 1px #008000}
.buttons:actived {box-shadow: none}
#reset {margin-left: 38%;}
